table{
    width: 100%;
    
}

.example-card {
    max-width: 400px;
  }


.edit{
    margin-right: 10px;
}

.edit > i{
    color: #3F51B5;

}

.delete > i{
    color:red;
}

div img {
    width: 100px;
    height: 100px;
    
}